<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<welcome-file-list>
        <welcome-file>index</welcome-file>
    </welcome-file-list>



	<!-- 03. Dispatcher Servlet Config -->
     <servlet>
          <servlet-name>dispatcherServlet</servlet-name>
          <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
          <init-param>
               <param-name>contextConfigLocation</param-name>
               <param-value>/META-INF/spring/dispatcherServlet.xml</param-value>
          </init-param>

     </servlet>
     <servlet-mapping>
          <servlet-name>dispatcherServlet</servlet-name>
          <url-pattern>/</url-pattern>
     </servlet-mapping>


     <context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
      	    /META-INF/spring/applicationContext.xml
      	</param-value>
	</context-param>

	<listener>
	    <listener-class>
	        org.springframework.web.context.ContextLoaderListener
	    </listener-class>
	</listener>

<filter>
  <filter-name>adminFilter</filter-name>
  <filter-class>com.s7soft.gae.news.filter.AdminFilter</filter-class>
</filter>
<filter-mapping>
  <filter-name>adminFilter</filter-name>
  <url-pattern>admin/*</url-pattern>
</filter-mapping>

<filter>
  <filter-name>defaultFilter</filter-name>
  <filter-class>com.s7soft.gae.news.filter.DefaultFilter</filter-class>
</filter>
<filter-mapping>
  <filter-name>defaultFilter</filter-name>
  <url-pattern>*</url-pattern>
</filter-mapping>

<jsp-config>
<jsp-property-group>
<url-pattern>*.jsp</url-pattern>
<el-ignored>false</el-ignored>
<page-encoding>UTF-8</page-encoding>
<scripting-invalid>false</scripting-invalid>
<include-prelude>/WEB-INF/jsp/header.jsp</include-prelude>
<include-coda>/WEB-INF/jsp/fotter.jsp</include-coda>
</jsp-property-group>
</jsp-config>

</web-app>
